---
import MentorCard from "@/components/MentorCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";
import CallToAction from "@/partials/CallToAction.astro";


const authorIndex = await getEntry<any, string>("mentors", "-index");
const mentors = await getSinglePage("mentors");

const call_to_action = await getEntry("sections", "call-to-action-mentor");
---

<Base title={authorIndex.data.title}>
  <PageHeader title={authorIndex.data.title} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        {
          mentors.map((mentor) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <MentorCard data={mentor} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <CallToAction call_to_action={call_to_action} />

</Base>